*{
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2vh 3vh;
}

.sub-nav {
    display: flex;
    color: white;
}

.Heading1 {
    margin-right: 1vh;
}

p.nav-b {
    color: white;
    font-size: 3vh;
    margin-right: 15px;
}

.content{
    text-align: center;
    margin-top: 10px;
    font-size: 5vh;
    font-weight: 700;
}